<!-- converter/templates/converter/converter.html -->
{% extends 'base/navbar.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Length Converter</title>
</head>
<body>
    <h1>Unit Converter</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Convert</button>
    </form>
    
    {% if result is not None %}
        <h2>Result: {{ result }}</h2>
    {% endif %}
{% endblock content %}
</body>
</html>
